Content: <b>T</b> Theory, <b>P</b> Practical, <b>D</b> Discussion
<br>
Responsible: <b>OH</b> Oskar Hagen, <b>AS</b> Alex Skeels,  <b>BR</b> Benjamin Rosenbaum, <b>FH</b> Florian Hartig
<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Mon. 14.11)</h3>
    <table class="table table-striped">
      <!-- <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr> -->
	  <tr> <td>09:00</td>  <td>Introductions and Orientation <b>*please arrive at least 5min before</b></td><td> <b>[T | OH]</b></td> </tr>
      <tr> <td>09:45</td>  <td>Modelling biodiversity though time</td><td> <b>[T | OH]</b> </td> </tr>
	  <tr> <td>10:30</td>  <td>Morning break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>11:00</td>  <td>The gen3sis R-package overview and familiarization with input/output data </td><td><b>[TP | OH]</b></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td><td><b>ツ</b></td> </tr>
      <tr> <td>13:00</td>  <td>Creating landscapes and eco-evolutionary rules I</td><td> <b>[TP | OH]</b></td> </tr>
	  <tr> <td>13:45</td>  <td>Creating landscapes and eco-evolutionary rules II </td><td><b>[TP | OH]</b></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>15:00</td>  <td>Learning how to troubleshoot </td><td><b>[TP | OH]</b></td> </tr>
      <tr> <td>15:45</td>  <td>Exercises </td><td><b>[P | AS,BR,OH]</b></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td><td><b>[D | OH]</b></td> </tr>
	  <tr> <td>17:00</td>  <td>END</td><td>ᕦ(òᴥó)ᕥ</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Tue. 15.11)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Measuring biodiversity in R - Summary statistics and biodiversity metrics.</td><td> <b>[T | BR]</b></td> </tr>
      <tr> <td>09:45</td>  <td>Parameter sampling and hypothesis testing using machine learning parameters/patterns correlations.</td><td> <b>[T | AS]</b> </td> </tr>
	  <tr> <td>10:30</td>  <td>Morning break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>11:00</td>  <td>Output automation and compasion to empirical data I</td><td><b>[TP | AS]</b></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td><td><b>ツ</b></td> </tr>
      <tr> <td>13:00</td>  <td>Output automation and compasion to empirical data II</td><td><b>[P | AS]</b></td> </tr>
	  <tr> <td>13:45</td>  <td>Project and Groups definition </td><td><b>[D | OH]</b></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>15:00</td>  <td>Kick off - break out rooms </td><td><b>[P | AS,BR,OH]</b></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td><td><b>[D | OH]</b></td> </tr>
	  <tr> <td>17:00</td>  <td>END Pau Hana Gathering </td><td>ᕦ(òᴥó)ᕥ</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 Excursion (Wed. 16.11)</h3>
    <table class="table table-striped">
	  <tr> <td>?</td>  <td>Still to define</td> </tr>
      <tr> <td>?</td>  <td>City Center, History Tour, Lost Places, Beer Garden?</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>--:--</td>  <td>OPEN END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (Thu. 17.11)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>General Adress - Group status update and Common emergent questions</td><td> <b>[D | OH,ALL]</b></td> </tr>
      <tr> <td>09:45</td>  <td>Hands on - break out rooms </td><td> <b>[P | AS,BR,OH]</b> </td> </tr>
	  <tr> <td>10:30</td>  <td>Morning break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>11:00</td>  <td>Hands on - break out rooms </td><td> <b>[P | AS,BR,OH]</b> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td><td><b>ツ</b></td> </tr>
      <tr> <td>13:00</td>  <td>Model-data comparisons and model calibration</td><td> <b>[T | FH]</b></td> </tr>
	  <tr> <td>13:45</td>  <td>Model-data comparisons and model calibration</td><td><b>[P | FH]</b></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>15:00</td>  <td>Hands on - break out rooms </td><td> <b>[P | AS,BR,OH]</b> </td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td><td><b>[D | OH]</b></td> </tr>
	  <tr> <td>17:00</td>  <td>END</td><td>ᕦ(òᴥó)ᕥ</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 5 (Fri. 18.11)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>General Adress - Common emergent questions</td><td> <b>[D | OH]</b></td> </tr>
      <tr> <td>09:45</td>  <td>Hands on - break out rooms </td><td> <b>[P | AS,BR,OH]</b> </td> </tr>
	  <tr> <td>10:30</td>  <td>Morning break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>11:00</td>  <td>Hands on - break out rooms </td><td> <b>[P | AS,BR,OH]</b> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td><td><b>ツ</b></td> </tr>
      <tr> <td>13:00</td>  <td>Group presentations</td><td> <b>[D | OH,ALL]</b></td> </tr>
	  <tr> <td>13:45</td>  <td>Challenges, Perspectives and Limitations</td><td> <b>[TD | OH]</b> </td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td><td><b>ツ</b></td> </tr>
	  <tr> <td>15:00</td>  <td>Hands on Next Steps - break out rooms </td><td> <b>[P | AS,BR,OH]</b> </td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td><td><b>[D | OH]</b></td> </tr>
	  <tr> <td>17:00</td>  <td>END</td><td>ᕦ(òᴥó)ᕥ</td> </tr>
    </table>
  </div>
</div>
