<div id="R">
  <h3>R</h3>
  <p>
    <a href="https://cran.r-project.org/bin/">R software </a> must be installed.
  </p>
  <p>
	Additionally, we highly recommend you install <a href="https://www.rstudio.com/products/rstudio/download/">R-studio</a>.
  </p>
</div>

<div id="gen3sis R-package">
  <h3>gen3sis R-package and dependencies</h3>
  <p>
    You can find more information <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/introduction.html">at this introductory vignette</a>.
  </p>
</div>