<div id="R">
  <h3>R</h3>
  <p>
    <a href="https://cran.r-project.org/bin/">R software </a> must be installed.
  </p>
 </div>
 
<div id="R">
  <h3>Rstudio</h3>
  <p>
	We highly recommend that you have installed <a href="https://www.rstudio.com/products/rstudio/download/">R-studio</a>.
  </p>
</div>

<div id="gen3sis R-package">
  <h3>gen3sis R-package and dependencies</h3>
  <p>
    You can find information on how to install gen3sis <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/introduction.html"> in this introductory vignette</a>.
  </p>
  <p>
    It would be advantegeous (although not necessary) if you already start familiarizing yourself on how to create gen3sis <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/create_input_landscape.html"> landscapes </a> and <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/create_config.html">configurations</a>.
  </p>
</div>

<h2>Literature</h2>
<p>Supporting literature used in this course can be found <a href="https://drive.google.com/drive/folders/1MDWWlU9zief0we39fY7sv_89mIeJX3lO?usp=sharing"> at this google drive folder</a>. We recommend reading some of these before comming to the course.

