<div id="R">
  <h3>R</h3>
  <p>
    <a href="https://cran.r-project.org/bin/">R software </a> must be installed.
  </p>
 </div>
 
<div id="R">
  <h3>Rstudio</h3>
  <p>
	We highly recommend that you have installed <a href="https://www.rstudio.com/products/rstudio/download/">R-studio</a>.
  </p>
</div>

<div id="gen3sis R-package">
  <h3>gen3sis R-package and dependencies</h3>
  <p>
    You can find information on how to install gen3sis <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/introduction.html"> in this introductory vignette</a>.
  </p>
  <p>
    It would be advantegeous (although not necessary) if you already start familiarizing yourself on how to create gen3sis <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/create_input_landscape.html"> landscapes </a> and <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/create_config.html">configurations</a>.
  </p>
  <div class="alert alert-warning">
	If you already have a an existing landscape that you would like to use, please bing a gen3sis landscape object already compiled. Follow <a href="https://cran.r-project.org/web/packages/gen3sis/vignettes/create_input_landscape.html">this vignette </a> for more information. 
	Note that landscapes with more than ~ 100 timesteps and ~2000 sites might be time consuming. We recommend that you subsample or coarsen the spatial and temporal resolution of the landscape that you will use during the breakout rooms.
	</div>
</div>

<h2>Literature</h2>
<p>Supporting literature used in this course can be found <a href="https://drive.google.com/drive/folders/1MDWWlU9zief0we39fY7sv_89mIeJX3lO?usp=sharing"> at this google drive folder</a>. We recommend reading some of these before comming to the course.</p>


<h2>Break out rooms</h2>
<p>The following rooms will be avaiable during our break-out activities. Groups are named after Greek Gods:</p>
<ul>
  <li>Group Chronos (time): B.00.27 (day 2), A.01.01 (days 4 and 5)</li>
  <li>Group Nesoi (islands): B.00.02 (days 2, 4 and 5)</li>
  <li>Group Ourea (mountains): B.02.04 (days 2, 4 and 5)</li>
  <li>Group Pontus (sea): A.01.17 (days 2, 4 and 5)</li>
</ul>  

